/* 
Farver:
Primary: #E8E6E4
Secondary: #FD9357
Action: #60C5BB
Grey: #C6CFCC
Black: #282828 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
main {
  background-color: #e8e6e4;
}

main > *:not(.hero):not(.footer) {
  margin-bottom: 200px;
}

h1 {
  font-family: "Monsterrat", sans-serif;
  font-size: 1.7rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 40px 0; /* Giver luft omkring */
  color: #333; /* Mørk tekstfarve */
}
h2 {
  font-family: "Monsterrat", sans-serif;
  font-size: 1.2rem;
}

p {
  font-family: "Lora", serif;
  font-size: 1rem;
}

@media (min-width: 600px) {
  h1 {
    font-family: "Monsterrat", sans-serif;
    font-size: 2.2rem;
  }
  h2 {
    font-family: "Monsterrat", sans-serif;
    font-size: 1.3rem;
  }
  p {
    font-family: "Lora", serif;
    font-size: 1.2rem;
  }
}
