---
import Background_textcard from "../components/Background_textcard.astro"
import Button from "../components/Button.astro"
import Cards from "../components/Cards.astro"
import Footer from "../components/Footer.astro"
import Footercard from "../components/Footercard.astro"
import Forms from "../components/Forms.astro"
import Headline from "../components/Headline.astro"
import Hero from "../components/Hero.astro"
import Infocard from "../components/Infocard.astro"
import Logo from "../components/Logo.astro"
import Middlehero from "../components/Middlehero.astro"
import Navigation from "../components/Navigation.astro"
import Picturecard from "../components/Picturecard.astro"
import Quotes from "../components/Quotes.astro"
import Rundknap from "../components/Rundknap.astro"
import Subtitle from "../components/Subtitle.astro"
import Textcard from "../components/Textcard.astro"
import "../styles/style.css"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Misbrugsportalen</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  </head>
  <main>
<Navigation />
<Hero />
<Background_textcard/>
<Picturecard />
<Middlehero />
<Infocard />
<Subtitle />
<Forms />
<Footer />
  </main>