---
import Textcard from "../components/Textcard.astro"
import Headline from "../components/Headline.astro"
---

<div class="background_textcard">
<Headline />  
<Textcard />
</div>



<style>
div {
background-color: #FD9357;
}

</style>