---
import Textcard from "../components/Textcard.astro"
import Headline from "../components/Headline.astro"
const heading1 = "Alle kan hjælpe til som frivillig";
---

<div class="background_textcard">
<h2>{heading1}</h2>
<Textcard />
</div>



<style>
div {
background-color: #FD9357;
}

</style>