---
import Textcard from "../components/Textcard.astro"
const heading1 = "Alle kan hjælpe til som frivillig";
---

<div class="background_textcard">
<h1 class="background_textcard_h1">{heading1}</h1>
<Textcard />
</div>



<style>
div {
background-color: #FD9357;
}
.background_textcard_h1 {
padding-top: 60px;
}

</style>