---

---

<div class="Forms">
<input type="text" placeholder="Fulde navn">
<input type="text" placeholder="Email">
<input class="stortfelt" type="text" placeholder="Kort om dig selv">
<div class="textfelt">
<p>Vedhæft ansøgning</p>
<button>Indsend</button>
</div>
</div>

<style>
.Forms{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 2rem;
        margin-bottom: 3rem;
        margin-inline: 0.5rem;
    }
    input{
        height: 40px;
        background-color: #ECEBEA;
        border: 1px solid black;
    }
    .stortfelt{
      height: 90px;
  background-color: #ECEBEA;
  border: 1px solid black;
    }
    .textfelt{
       display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
    justify-content: flex-start; 
}

    
    p{
        color: #3CAA9F;
        text-decoration: underline;
        font-size: 1.3rem;
    }
     button{
        background-color: #3CAA9F;
  font-family: "Montserrat";
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: auto;
    }

    @media (min-width: 600px) {    
    .Forms{
        display: flex;
        flex-direction: column;
        margin-inline: 23rem;
        gap: 25px;
        margin-top: 3rem;
    }
    input{
        height: 50px;
        background-color: #ECEBEA;
        border: 1px solid black;
    }
    .stortfelt{
      height: 90px;
  background-color: #ECEBEA;
  border: 1px solid black;
    }
   
    p{
        color: #3CAA9F;
        text-decoration: underline;
        font-size: 1.3rem;
    }
}
</style>