---

---

<div class="hero">
    <img src="/public/Hero.webp" alt="Hero">


</div>

<style>

    .hero {
        position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh; 
    z-index: -1; 
    overflow: hidden;
    }

    .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

 

</style>