---

---


<div class="logo">
    <img src="/Logo.webp" alt="Pårørende Netværket">
  </div>

<style>
    .logo {
      display: flex;
      align-items: center;
    }
  
    .logo img {
      height: 50px; /* Justér højden */
    }
  </style>
  
 
  