---

---
<div class="Picturecard">
<div class="Card">
    <img src="woman.png" alt="woman">
    <p class="Navn">Signe</p>
    <p><span class="quotes">“</span>Det føltes som om, jeg ikke var alene længere. At tale med en frivillig gav mig håb om, at jeg kunne ændre mit liv.<span class="quotes">”</span></p>
</div>
<div class="Card">
<img src="youngman.png" alt="youngman">
<p class="Navn">Jonas</p>
<p><span class="quotes">“</span>Når alt føltes uoverskueligt, var det en lettelse at kunne snakke med nogen, der ikke dømte mig, men bare lyttede.<span class="quotes">”</span></p>
</div>
<div class="Card">
<img src="oldman.png" alt="oldman">
<p class="Navn">Bo</p>
<p><span class="quotes">“</span>Jeg får nogle gode råd. Samtidig er det rart at snakke med en der har erfaring med misbruger<span class="quotes">”</span></p>
</div>
</div>

<style>
    .Picturecard{
display: flex;
flex-direction: row;
justify-content: center; 
    gap: 121.5px;
    padding: 0 5%; 
    width: fit-content;
    }
  

    img{
        align-items: center;
    }
    p{
        padding: 0.2rem;
      font-style: italic;
      max-width: 355px;
      
    }
    .Navn{
        font-weight: bold;

    }
    .quotes {
    color: #60C5BB;
}

</style>