---
---
<div class="textcards">
<div>
    <h2>Hvad indebærer det at være frivillig?</h3>
    <p>Vi står bag dig hele vejen <br> <br>
    Hos os bliver du aldrig overladt til dig selv. Udover vores kurser får du løbende sparring og supervision, så du altid har mulighed for at dele erfaringer og få rådighed. Vi skaber et trygt og støttende fællesskab, hvor du kan udvikle dig og vokse i din rolle som frivillig.</p>
</div>
<div>
    <h2>Ingen erfaring? Intet problem!</h3>
  <p>  Du behøver ikke at have en baggrund inden for socialt arbejde eller misbrugsbehandling for at blive frivillig hos os. Det vigtigste er, at du har lysten til at hjælpe og et åbent sind. Vi tilbyder grundige kurser og forberedelsesforløb, så du bliver godt klædt på til opgaven. Vores uddannelsesforløb sikrer, at du får de nødvendige redskaber og færdigheder til at støtte mennesker i sårbare situationer. </p>
</div>
</div>



<style>
    h2{
    margin-top: 1rem;
  }
  .textcards > div {
  line-height: 35px;
  margin-inline: 1.2rem;
  padding-bottom: 1px;
}
  @media (min-width: 600px) {  
    .textcards {
  display: flex;
  flex-direction: row;
justify-content: space-around;
}
.textcards > div {
  flex: 1;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
  line-height: 40px;
}
  }

</style>